
<nav class="nav_home">
    <a href="">Cadastrar Funcionario</a>
    <a href="">Cadastrar Cliente</a>
    <a href="">Novo Serviço</a>
    <a href="">Sair</a>
    <img width="30" height="30" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-login-web-development-flaticons-flat-flat-icons.png" alt="external-login-web-development-flaticons-flat-flat-icons"/>
</nav>