
<h1>Cadastre os Fornecedores</h1>

<form action="/crud/incluir" method="POST">
    <label for=""><span>Código</span> <input type="text" name="codigo" id=""> </label> 
    <label for=""><span>Nome</span> <input type="text" name="nome" id=""></label> 
    <label for=""><span>Email</span>  <input type="text" name="email" id=""></label>
    <input type="submit" value="Cadastrar" id="btn">
</form>