
<link rel="stylesheet" href="/css/erro.css">

<a href="/login">
    <img width="64" height="64" 
    src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-back-web-flaticons-lineal-color-flat-icons.png" 
    alt="external-back-web-flaticons-lineal-color-flat-icons"/>
</a>
<div class="error">

</div>
 {{>voltar}}