<link rel="stylesheet" href="/css/login.css">



<div class="logContainer">
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for=""><span>Email</span> <input type="email" name="email"></label> 
        <label for=""><span>Senha</span> <input type="text" name="senha"></label> 
        <button class="btn_logar">Entrar</button>
    </form>
</div>
