<link rel="stylesheet" href="/css/home.css">

<div class="home_container">
    <h1>
        <img width="48" height="48" src="https://img.icons8.com/ink/48/experimental-home-ink.png" alt="experimental-home-ink"/>
        <span>        HOME    </span>
    </h1>

  
    <h2>Sistema de Gestão de Entrada e Saída de Veículos</h2>   
        <ul class="home_conteudo">
            <li class="part">
                <div>
                    <img width="30" height="30" src="https://img.icons8.com/stickers/100/collaborator-female.png" alt="collaborator-female"/>
                    <h3>Gestão de Funcionários</h3>
                </div>
                <p>
                    <a href="/gestaoFuncionario">GerenciarFuncionarios</a>
                </p>         
            </li>
            <li class="part">
                <div>
                    <img width="30" height="30" src="https://img.icons8.com/plasticine/100/budget.png" alt="budget"/>
                    <h3>Gestão de Clientes</h3>
                </div>
                <p>
                    <a href="/cadastroCliente">CadastrarCliente</a>
                    <br>
                    <a href="/clientes">Gerenciar Clientes</a>
                </p> 

            </li>
            <li class="part">
                <div>
                    <img width="30" height="30" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-parking-map-and-navigation-flaticons-lineal-color-flat-icons-4.png" alt="external-parking-map-and-navigation-flaticons-lineal-color-flat-icons-4"/>
                    <h3>Gestão do Serviço de Estacionamento</h3>
                </div>
                <p>
                    <a href="/incluirService">Iniciar Serviço</a>
                </p>         
            </li>
            <li class="part">
                <div>
                    <img width="30" height="30" src="https://img.icons8.com/quill/50/test-results.png" alt="test-results"/>
                    <h3>Relatórios</h3>
                </div>
                <p>
                    <a href="/relatorio">Serviços abertos e Fechados</a>
                </p>
                   
                </div>
            </li>
        </ul>
</div>
  
   
