
<link rel="stylesheet" href="/css/inclusoComSucesso.css">
<div class="incluso_sucesso">
    <h1>Incluso Servico com Sucesso</h1>
   
        <table>
            <thead>
                <tr>
                    <th>Id_Service</th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Placa</th>
                    <th>Ano</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <a href="/incluirService">
            <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/u-turn-to-left.png" alt="u-turn-to-left"/>
        </a>
        <script src="/js/inserido_servico_sucesso.js"></script>
         {{>voltar}}
</div>